body{
    background: rgb(0,219,255);
    background: linear-gradient(155deg, rgba(0,219,255,1) 0%, rgba(13,116,27,1) 100%); 
}
.data{
    width: 100vw;
    height:90px;
    background: white;
    margin:2px;
    transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
    display: flex;
    flex-direction: row;
    align-items: center;
}
.avatarImage{
    height: 100% !important;
    float: left;
}
.data:hover{
    transform: scale(0.99);
    cursor: pointer;
    background: rgba(45, 150, 167, 0.623);
}
.data:hover h5{
    transform: scale(0.99);
    color:white
}
.header{
    background: rgb(0,219,255);
    background: linear-gradient(155deg, rgba(0,219,255,1) 0%, rgba(13,116,27,1) 100%); 
    height:auto;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color:white;
    text-shadow: 2px 2px 5px black;
}
.searchBox{
    height:50px;
    box-sizing: border-box;
    padding: 0px;
    background-color: white;
    width: 100vw;
}
h3{

margin: 0;
}
h5{
    margin: 0;
    color: grey;
    }